body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cta{
    width: 80%;
    height: 30em;
    background-color: black;
    margin: 2em;
}
#bottom-menu img{
    margin: 1em;
    width: 5em;
    height: 5em;
}