body {
    background-image: url("../images/background.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cta{
    width: 80%;
    height: 30em;
    margin: 2em;
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
    margin-top: 8%;
    pointer-events: none;
    user-select: none;
   
}

#cta img{
    object-fit: contain;
    width: 100% ;
    pointer-events: none;
    user-select: none;
}

#bottom-menu {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
    justify-content: center;

}
#bottom-menu img{
    
    width: 3em;
    height: 3em;
}


@media (max-width: 600px) {
    body {
        background-image: url("../images/background-mobile.png");
        background-size: 100vb 100vb;
    
    }

    #cta{
        width: 90%;
        height: 30em;
        margin: 2em;
        margin-bottom: 5em;
        display: flex;
        justify-content: center;
        margin-top: 20%;
    }
  }

